{% extends 'base.html.twig' %}

{% block title %}Hello CategoryController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <table class="table table-striped bg-white text-center w-50">
        <thead>
        <tr>
            <th scope="col">Catégories</th>
        </tr>
        </thead>
        <tbody>
        {% for category in categories %}
        <tr>
                <td><a href="{{ path('category', {'slug': category.slug}) }}">{{ category.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}