{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}

{% block body %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-6">
                <h1 class="display-4 text-center">Détail Produit</h1>
                <ul class="list-group">
                    <li class="list-group-item">{{ produit.name }}</li>
                    <li class="list-group-item">{{ produit.Description | raw }}</li>
                    <li class="list-group-item">{{ produit.Price | raw }}</li>
                    {% if( produit.Availability ) %}
                        <li class="list-group-item bg-success text-white font-weight-bold">ce produit est disponible</li>
                    {% else %}
                        <li class="list-group-item bg-danger text-white font-weight-bold">  ce produit n'est pas disponible actuellement</li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}